<html>
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#000000" />
    <link
      href="https://webchat.vica.gov.sg/static/css/chat.css" referrerpolicy="origin" 
      rel="stylesheet"
    />
  </head>
 
<body>

<div id="webchat" 
app-id="mindef-ask-ndp" 
app-icon="https://drive.google.com/uc?export=download&id=1wDEfxII9KT9B5usZ-d8CzJX5CFqu8F5r"
app-name="Chat With August" 
app-color=""
app-base-font-size="16" 
app-auto-launch="false" 
app-font-family="Lato"

app-bot-response-trigger-event="true" 

app-enable-auto-complete="true"
app-auto-complete-background-color="#FADADF"
app-auto-complete-divider-color="#A6192E"
app-auto-complete-hover-color="#EF96A4"

app-enable-recommendations="true"
app-recommendations-background-color="#FADADF"
app-recommendations-hover-color="#EF96A4"

app-environment-override="draft"
>
</div>

<script type="text/javascript" src="https://webchat.vica.gov.sg/static/js/chat.js" referrerpolicy="origin">
</script>

</body>
</html>
